$texto:red;
$principal: pink;
$secundario:orange;

body {
    background: $principal;
    color: $texto;
    border: 5px solid $secundario;
}

/*
 * Estilos de prueba
 */

 .container {
     border: 1px solid red;
 }

 .row {
    border: 1px solid blue;
 }

 .servicios>*{
    border: 1px solid red;
 }

 .servicios{
    border: 1px solid green;
    height: 75px;
 }

 p {
    border: 5px solid yellow;
 }

 p.f {
     display: flex;
     justify-content:center;
 }

 p.g {
     display: inline-flex;
     justify-content:center;
 }

 a {
     color: black;
 }