$texto:red;
$principal: pink;
$secundario:orange;

body {
    background: $principal;
    color: $texto;
    border: 5px solid $secundario;
}

/*
 * Estilos de prueba
 */

 .container {
     border: 1px solid red;
 }

 .row {
    border: 3px solid blue;
 }

 .row>*{
     border: 1px solid green;
 }

 .servicios>*{
    border: 1px solid red;
 }

 .servicios{
    border: 1px solid green;
 }
